In [23]:
import graphlab

graphlab.canvas.set_target('ipynb')
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
sales = graphlab.SFrame('kc_house_data.gl/')

In [25]:
sales['bedrooms_squared'] = sales['bedrooms']*sales['bedrooms']
sales['bed_bath_rooms'] = sales['bedrooms']*sales['bathrooms']
sales['log_sqft_living'] = np.log(sales['sqft_living'])
sales['lat_plus_long'] = sales['lat']+sales['long']

In [27]:
train_data, test_data = sales.random_split(0.8,seed=0)

In [28]:
sales.head(1)

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float
	bedrooms_squared	float
	bed_bath_rooms	float
	log_sqft_living	float
	lat_plus_long	float

Rows: 1

Data:
+------------+---------------------------+----------+----------+-----------+
|     id     |            date           |  price   | bedrooms | bathrooms |
+------------+---------------------------+----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 | 221900.0 |   3.0    |    1.0    |
+------------+---------------------------+----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
+---------------+---------------+-----+
[1 rows x 25 columns]

In [29]:
features1 = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']
model_1 = graphlab.linear_regression.create(train_data, target = 'price', features=features1, validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 5

Number of unpacked features : 5

Number of coefficients    : 6

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 1.017608     | 4074878.213053     | 236378.596454 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [30]:
features2 = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms']
model_2 = graphlab.linear_regression.create(train_data, target = 'price', features=features2, validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 7

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.022576     | 4014170.932908     | 235190.935427 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [31]:
features3 = ['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms','bedrooms_squared','log_sqft_living','lat_plus_long']
model_3 = graphlab.linear_regression.create(train_data, target = 'price', features=features3, validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 9

Number of unpacked features : 9

Number of coefficients    : 10

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.025801     | 3193229.177891     | 228200.043154 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [36]:
model_1['coefficients']

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 6

Data:
+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -56140675.759  | 1649985.42057 |
| sqft_living |  None | 310.263325779  | 3.18882960407 |
|   bedrooms  |  None | -59577.1160679 | 2487.27977321 |
|  bathrooms  |  None |  13811.840544  | 3593.54213295 |
|     lat     |  None |  629865.78954  | 13120.7100325 |
|     long    |  None | -214790.285284 | 13284.2851627 |
+-------------+-------+----------------+---------------+
[6 rows x 4 columns]

dtype: float
Rows: 17384
[-23884.018077872694, -301789.2975793332, -135874.4876407571, 112826.64050759748, 74280.96149339154, -362305.2000751719, -59706.951354920864, 128056.20156693459, -220254.06248743832, -25293.209875714034, -374810.0842846595, 48591.956228841096, 66537.72251987457, 64674.19520970434, -157895.83467406034, 53284.33187600225, 14838.988854188472, 63454.2352575399, -86658.09727393463, 1142005.5690988936, -65358.6566111967, 93525.69085392356, -223411.30522929877, 184485.147672493, 270766.0155455284, -49424.73562210426, -11237.673478342593, -193023.94312246144, 2589.384249776602, -86749.175462313, -37470.906856261194, 146611.51386988536, -48729.84117506072, 147446.495014254, -28800.57557208091, -95793.36676715314, 213262.76309002563, 89229.00923293456, -479569.6636722833, 127996.14165293798, 188259.93688360974, 56601.818958736956, 621231.800417494, 18845.42311604321, -387685.23280571774, 138459.28468951955, -121254.4519761242, 198102.57901303098, 65593.34908917174, -229941.16481076926, 132886.6979572326, 34797.804991938174, 117321.77319036797, -142273.5642556809, 63617.555341210216, -58674.21280543506, -495703.27434497327, 260017.97607839853, -139574.23285404965, 139543.35486835614, 488432.59892214835, -299831.5101131499, -84481.23657239601, -77106.3678149432, -80034.13486685976, -26287.452870551497, 215251.28241590783, -48412.08066104725, -34955.779764499515, -85242.97339414433, -241061.5144051835, -9594.470911320299, -9518.488004043698, 288997.49979285896, -144727.199834615, -304049.36356986687, -231819.99403560534, 20188.845120873302, 106420.70170527324, -137.8481646478176, -85177.17012663186, 184822.82987336814, -5893.895404178649, 116888.65240737051, -10238.85325455293, -48790.62726011127, 213531.09750867635, -82330.95572791994, -3425.937489889562, 250482.9964409843, 96923.30080780387, -181784.77395351604, -75547.70916436613, -77970.71495102346, -235612.53667497635, 66841.04766592756, 161453.89078135788, 46860.7656576857, -236536.70042698458, -674345.8128998093, ... ]

In [40]:
def get_residual_sum_of_squares(model, data):
    diff = data['price'] - model.predict(data)
    RSS = (diff*diff).sum()
    return(RSS)

In [48]:
get_residual_sum_of_squares(model_1,train_data)

971328233535829.0

In [49]:
get_residual_sum_of_squares(model_2,train_data)

961592067848420.6

In [50]:
get_residual_sum_of_squares(model_3,train_data)

905276314542889.8

# Test Questions

In [54]:
test_data['bedrooms_squared'].mean()

12.446677701584298

In [55]:
test_data['bed_bath_rooms'].mean()

7.503901631591383

In [56]:
test_data['log_sqft_living'].mean()

7.550274679645924

In [57]:
test_data['lat_plus_long'].mean()

-74.65333497217343

In [60]:
model_1['coefficients']

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 6

Data:
+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -56140675.759  | 1649985.42057 |
| sqft_living |  None | 310.263325779  | 3.18882960407 |
|   bedrooms  |  None | -59577.1160679 | 2487.27977321 |
|  bathrooms  |  None |  13811.840544  | 3593.54213295 |
|     lat     |  None |  629865.78954  | 13120.7100325 |
|     long    |  None | -214790.285284 | 13284.2851627 |
+-------------+-------+----------------+---------------+
[6 rows x 4 columns]

In [61]:
model_2['coefficients']

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 7

Data:
+----------------+-------+----------------+---------------+
|      name      | index |     value      |     stderr    |
+----------------+-------+----------------+---------------+
|  (intercept)   |  None | -54410676.1295 |  1650405.1657 |
|  sqft_living   |  None | 304.449298058  | 3.20217535636 |
|    bedrooms    |  None | -116366.043226 | 4805.54966544 |
|   bathrooms    |  None | -77972.3305052 |  7565.0599109 |
|      lat       |  None | 625433.835007  | 13058.3530975 |
|      long      |  None | -203958.603056 | 13268.1283731 |
| bed_bath_rooms |  None | 26961.6249074  | 1956.36561554 |
+----------------+-------+----------------+---------------+
[7 rows x 4 columns]

In [63]:
get_residual_sum_of_squares(model_1,test_data)

226568089090648.22

In [64]:
get_residual_sum_of_squares(model_2,test_data)

224368799991589.47

In [67]:
get_residual_sum_of_squares(model_3,test_data)

251829318965955.53